{% extends "layout" %}
{% block page %} 
{{ super() }} 

<link rel="stylesheet" type="text/css" href="css/pages/about.css">
<div class="section-wrapper">
    <section id="about-body">
        <h1>Welcome to {{name}}'s About page!</h1>
        <h3>This project is up to date as of: {{date}}</h3>
    </section>
</div>

{% endblock page %}