{% extends "layout" %}
{% block page %} 
{{ super() }} 

<link rel="stylesheet" type="text/css" href="css/pages/contact.css">

<form action="mailto:my_email@email.com" method="post" type="text/plain">

    Name:<br>
    <input type="text/plain" name="name"><br>
    Email:<br>
    <input type="text/plain" name="email"><br>
    Subject:<br>
    <input type="text/plain" name="subject"><br>
    Message:<br>
    <input type="text/plain" name="message"><br>

</form>

{% endblock page %}
