<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <title>Abhi Rangarajan - {{title}}</title>
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    </head>
    <body>
        {% block header %}{% endblock header %}
            <div id="wrapper">
                <div class="page-content">
                    {% block page %}{% endblock page %}
                </div>
            </div>
        {% block footer %}{% endblock footer%}
    </body>
</html>