{{#*inline "page"}}

<div class="section-wrapper">
    <section id="error-body">
        <h1>Oh no!! you hit a {{error_code}}!</h1>
        <h3>Please try again another time!</h3>
        <small>Either I didn't impliment the {{page}} page yet or I messed up some of my code</small>
    </section>
</div>

{{/inline}}
{{~> (parent)~}}