@import "../global.css";
@import url(https://fonts.googleapis.com/css?family=Khula:700);

:root {

    --base-text-color: #ed4e39;

}

.section-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    min-height: 85vh;

    font-family:Khula;
    height:200px;
    width:600px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;

}

.hidden {
    opacity:0;
}
  

#load-body {

    color: var(--base-text-color);
    position: absolute;

}

#text {

    text-align: right;

}

#console-header-color-2 {

    color: rgba(216, 189, 189, 0.842);

}

#console-header {

    margin-right: 0;
    display: inline

}
