/* 
#1A1A2E
#16213E
#0F3460
#E94560 
*/

/* global variables */
:root {

    --fg-color: #e94560b2;
    --bg-color:  #000000;

}

/* Classes */

.section-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.page-content {

    max-width: 100%;

}

p.footer {

    padding-top: 5px;

}

/* -------------------------------------------------------------------------------- */

/* Ids */
#global-body {

    color: #E94560;
    text-align: left;
    font-size: 12px;

}


#wrapper {
    padding: 40px 0;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow:1
}


#footer {

    text-align: center;
    border-top: 1px dashed;

}

/* -------------------------------------------------------------------------------- */

/* Generics */

body {

    color: var(--fg-color);
    border-color: var(--fg-color);
    text-align: left;
    font-size: 12px;
    background-color: var(--bg-color);

}
