{{#*inline "page"}}
<div id="wrapper">
    <div class="page-content">
        <div class="section-wrapper">

            <section id="index-body">
                <h1>Hi, {{name}}!</h1>
                <h3>It is {{date}} today!</h3>
            </section>
            
        </div>
    </div>
</div>

{{/inline}}
{{~> (parent)~}}
