{{#*inline "page"}}

<section id="message_board">
  <h1>Hi, {{ current_user }}!</h1>
  You can login as a different user by navigating to "/user/{username}".

  <h2>Messages</h2>
  <ul>
    {{#each messages}}
      <li>{{ this.user }}: {{ this.body }}</li>
    {{/each}}
  </ul>
</section>

{{/inline}}
{{~> (parent)~}}
    