<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Abhi Rangarajan - {{title}}</title>
  </head>
  <body>
  {{> header}}
  {{~> page}}
  {{> footer}}
  </body>
</html>