<!doctype html>
<html>
  <head>
    <title>Example App - Message Board</title>
  </head>
  <body>
  <section id="work-please">
    <h1>Hi, {{name}}!</h1>
    <h3>It is {{date}} today!</h3>
  </section>
  </body>
</html>